administration/schema_xmlorder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="YourContactPerson" type="xs:string"/>
	<xs:element name="VATRegNo" type="xs:string"/>
	<xs:element name="VATPercentage" type="xs:string"/>
	<xs:element name="UnitPrice" type="xs:string"/>
	<xs:element name="Unit" type="xs:string"/>
	<xs:element name="TotalLineDiscountPercent" type="xs:string"/>
	<xs:element name="Text" type="xs:string"/>
	<xs:element name="Telephone2" type="xs:string"/>
	<xs:element name="Telephone" type="xs:string"/>
	<xs:element name="Telefax" type="xs:string"/>
	<xs:element name="TaxRate3" type="xs:string"/>
	<xs:element name="TaxRate2" type="xs:string"/>
	<xs:element name="TaxRate1" type="xs:string"/>
	<xs:element name="TaxFree" type="xs:string"/>
	<xs:element name="SumOfLine" type="xs:string"/>
	<xs:element name="SellerOrderNo" type="xs:string"/>
	<xs:element name="SellerArticleNo" type="xs:string"/>
	<xs:element name="QuantityOrdered" type="xs:string"/>
	<xs:element name="PaymentTerms" type="xs:string"/>
	<xs:element name="OurContactPerson" type="xs:string"/>
	<xs:element name="Orders">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Order" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderDate" type="xs:string"/>
	<xs:element name="Order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SellerOrderNo"/>
				<xs:element ref="OrderDate"/>
				<xs:element ref="CustomerNumber"/>
				<xs:element ref="CustomerName"/>
				<xs:element ref="OurContactPerson"/>
				<xs:element ref="YourContactPerson"/>
				<xs:element ref="DelayInterest"/>
				<xs:element ref="CurrencyCode"/>
				<xs:element ref="PaymentTerms"/>
				<xs:element ref="DeliveryTerms"/>
				<xs:element ref="DeliveryMethod"/>
				<xs:element ref="TaxFree"/>
				<xs:element ref="Text"/>
				<xs:element ref="TaxRate1"/>
				<xs:element ref="TaxRate2"/>
				<xs:element ref="TaxRate3"/>
				<xs:element ref="EuSaleCommodity"/>
				<xs:element ref="EuSaleThirdPartCommodity"/>
				<xs:element ref="VATRegNo"/>
				<xs:element ref="Email"/>
				<xs:element ref="CompanyNo"/>
				<xs:element ref="Telefax"/>
				<xs:element ref="Telephone"/>
				<xs:element ref="Telephone2"/>
				<xs:element ref="InvoiceName"/>
				<xs:element ref="InvoiceAddress1"/>
				<xs:element ref="InvoiceAddress2"/>
				<xs:element ref="InvoicePostCode"/>
				<xs:element ref="InvoicePostOffice"/>
				<xs:element ref="InvoiceCountry"/>
				<xs:element ref="DeliveryName"/>
				<xs:element ref="DeliveryAddress1"/>
				<xs:element ref="DeliveryAddress2"/>
				<xs:element ref="DeliveryPostCode"/>
				<xs:element ref="DeliveryPostOffice"/>
				<xs:element ref="DeliveryCountry"/>
				<xs:element ref="Detail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoicePostOffice" type="xs:string"/>
	<xs:element name="InvoicePostCode" type="xs:string"/>
	<xs:element name="InvoiceName" type="xs:string"/>
	<xs:element name="InvoiceCountry" type="xs:string"/>
	<xs:element name="InvoiceAddress2" type="xs:string"/>
	<xs:element name="InvoiceAddress1" type="xs:string"/>
	<xs:element name="EuSaleThirdPartCommodity" type="xs:string"/>
	<xs:element name="EuSaleCommodity" type="xs:string"/>
	<xs:element name="Email" type="xs:string"/>
	<xs:element name="Detail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ArticleRow" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeliveryTerms" type="xs:string"/>
	<xs:element name="DeliveryPostOffice" type="xs:string"/>
	<xs:element name="DeliveryPostCode" type="xs:string"/>
	<xs:element name="DeliveryName" type="xs:string"/>
	<xs:element name="DeliveryMethod" type="xs:string"/>
	<xs:element name="DeliveryCountry" type="xs:string"/>
	<xs:element name="DeliveryAddress2" type="xs:string"/>
	<xs:element name="DeliveryAddress1" type="xs:string"/>
	<xs:element name="DelayInterest" type="xs:string"/>
	<xs:element name="CustomerNumber" type="xs:string"/>
	<xs:element name="CustomerName" type="xs:string"/>
	<xs:element name="CurrencyCode" type="xs:string"/>
	<xs:element name="CompanyNo" type="xs:string"/>
	<xs:element name="ArticleRow">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SellerArticleNo"/>
				<xs:element ref="ArticleDescription"/>
				<xs:element ref="UnitPrice"/>
				<xs:element ref="QuantityOrdered"/>
				<xs:element ref="Unit"/>
				<xs:element ref="TotalLineDiscountPercent"/>
				<xs:element ref="SumOfLine"/>
				<xs:element ref="VATPercentage"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ArticleDescription" type="xs:string"/>
</xs:schema>
