doc/schema_xmlkund.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Johan Gunnarsson (JFS Bokföring) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="YourContactPerson" type="xs:string"/>
	<xs:element name="VATRegNo" type="xs:string"/>
	<xs:element name="Telephone2" type="xs:string"/>
	<xs:element name="Telephone" type="xs:string"/>
	<xs:element name="Telefax" type="xs:string"/>
	<xs:element name="TaxFree" type="xs:string"/>
	<xs:element name="PgNo" type="xs:string"/>
	<xs:element name="PaymentTerms" type="xs:string"/>
	<xs:element name="OurContactPerson" type="xs:string"/>
	<xs:element name="InvoicePostOffice" type="xs:string"/>
	<xs:element name="InvoicePostCode" type="xs:string"/>
	<xs:element name="InvoiceName" type="xs:string"/>
	<xs:element name="InvoiceCountry" type="xs:string"/>
	<xs:element name="InvoiceAddress2" type="xs:string"/>
	<xs:element name="InvoiceAddress1" type="xs:string"/>
	<xs:element name="HideUnitPrice" type="xs:boolean"/>
	<xs:element name="EuSaleThirdPartCommodity" type="xs:string"/>
	<xs:element name="EuSaleCommodity" type="xs:string"/>
	<xs:element name="Email" type="xs:string"/>
	<xs:element name="Discount" type="xs:string"/>
	<xs:element name="DeliveryTerms" type="xs:string"/>
	<xs:element name="DeliveryPostOffice" type="xs:string"/>
	<xs:element name="DeliveryPostCode" type="xs:string"/>
	<xs:element name="DeliveryName" type="xs:string"/>
	<xs:element name="DeliveryMethod" type="xs:string"/>
	<xs:element name="DeliveryCountry" type="xs:string"/>
	<xs:element name="DeliveryAddress2" type="xs:string"/>
	<xs:element name="DeliveryAddress1" type="xs:string"/>
	<xs:element name="Customers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Customer" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerNo" type="xs:string"/>
	<xs:element name="CustomerName" type="xs:string"/>
	<xs:element name="Customer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerNo"/>
				<xs:element ref="CustomerName"/>
				<xs:element ref="OurContactPerson"/>
				<xs:element ref="YourContactPerson"/>
				<xs:element ref="CurrencyCode"/>
				<xs:element ref="PaymentTerms"/>
				<xs:element ref="DeliveryTerms"/>
				<xs:element ref="DeliveryMethod"/>
				<xs:element ref="TaxFree"/>
				<xs:element ref="EuSaleCommodity"/>
				<xs:element ref="EuSaleThirdPartCommodity"/>
				<xs:element ref="HideUnitPrice"/>
				<xs:element ref="VATRegNo"/>
				<xs:element ref="Email"/>
				<xs:element ref="CompanyNo"/>
				<xs:element ref="Telefax"/>
				<xs:element ref="Telephone"/>
				<xs:element ref="Telephone2"/>
				<xs:element ref="CreditLimit"/>
				<xs:element ref="Discount"/>
				<xs:element ref="BgNo"/>
				<xs:element ref="PgNo"/>
				<xs:element ref="CreditLimit"/>
				<xs:element ref="InvoiceName"/>
				<xs:element ref="InvoiceAddress1"/>
				<xs:element ref="InvoiceAddress2"/>
				<xs:element ref="InvoicePostCode"/>
				<xs:element ref="InvoicePostOffice"/>
				<xs:element ref="InvoiceCountry"/>
				<xs:element ref="DeliveryName"/>
				<xs:element ref="DeliveryAddress1"/>
				<xs:element ref="DeliveryAddress2"/>
				<xs:element ref="DeliveryPostCode"/>
				<xs:element ref="DeliveryPostOffice"/>
				<xs:element ref="DeliveryCountry"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CurrencyCode" type="xs:string"/>
	<xs:element name="CreditLimit" type="xs:string"/>
	<xs:element name="CompanyNo" type="xs:string"/>
	<xs:element name="BgNo" type="xs:string"/>
</xs:schema>
