doc/schema_xmlprodukt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Weight" type="xs:decimal"/>
	<xs:element name="WarehouseLocation">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Volume" type="xs:byte"/>
	<xs:element name="UnitPrice" type="xs:int"/>
	<xs:element name="UnitFreight" type="xs:byte"/>
	<xs:element name="Unit" type="xs:string"/>
	<xs:element name="TaxRate" type="xs:string"/>
	<xs:element name="SupplierProductNo" type="xs:string"/>
	<xs:element name="Supplier" type="xs:string"/>
	<xs:element name="StockProduct" type="xs:boolean"/>
	<xs:element name="SaleAccount" type="xs:short"/>
	<xs:element name="RowQuantity" type="xs:byte"/>
	<xs:element name="PurchasePrice" type="xs:short"/>
	<xs:element name="PurchaseAccount" type="xs:short"/>
	<xs:element name="Products">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Product" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProductNo" type="xs:string"/>
	<xs:element name="ProductDescription" type="xs:string"/>
	<xs:element name="Product">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProductNo"/>
				<xs:element ref="ProductDescription"/>
				<xs:element ref="UnitPrice"/>
				<xs:element ref="TaxRate"/>
				<xs:element ref="PurchasePrice"/>
				<xs:element ref="UnitFreight"/>
				<xs:element ref="Unit"/>
				<xs:element ref="Weight"/>
				<xs:element ref="Volume"/>
				<xs:element ref="SaleAccount"/>
				<xs:element ref="PurchaseAccount"/>
				<xs:element ref="Expired"/>
				<xs:element ref="StockProduct"/>
				<xs:element ref="WarehouseLocation"/>
				<xs:element ref="OrderPoint"/>
				<xs:element ref="OrderCount"/>
				<xs:element ref="Supplier"/>
				<xs:element ref="SupplierProductNo"/>
				<xs:element ref="EnProductDescription"/>
				<xs:element ref="Detail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParcelRow">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IncludedProductNo"/>
				<xs:element ref="RowQuantity"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderPoint" type="xs:string"/>
	<xs:element name="OrderCount" type="xs:string"/>
	<xs:element name="IncludedProductNo" type="xs:string"/>
	<xs:element name="Expired" type="xs:boolean"/>
	<xs:element name="EnProductDescription" type="xs:string"/>
	<xs:element name="Detail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ParcelRow" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
